starter_file/.ipynb_aml_checkpoints/**
**/.amlignore**
starter_file/.ipynb_aml_checkpoints/automl-checkpoint2021-6-18-7-49-52Z.ipynb
starter_file/.ipynb_aml_checkpoints/automl-checkpoint2021-6-18-8-13-34Z.ipynb
starter_file/.ipynb_aml_checkpoints/automl-checkpoint2021-6-18-19-39-36Z.ipynb
starter_file/.ipynb_aml_checkpoints/automl-checkpoint2021-6-18-20-52-18Z.ipynb
starter_file/.ipynb_aml_checkpoints/automl-checkpoint2021-6-18-21-3-28Z.ipynb
starter_file/automl.ipynb.amltmp
starter_file/automl.ipynb.amltmp
starter_file/config.json
starter_file/azureml_automl.log
starter_file/automl.log
starter_file/hyperparameter_tuning.ipynb.amltmp
starter_file/scorehd.py.amltmp
environments/**
